html {
    background-color: #E4E9FD;
    background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
    min-height: 1000px;
    font-family: 'Poppins', sans-serif;
  }
  h1 {
    color: #fff;
    padding: 10px;
  }
  #heading {
    background-color: #A683E3;
    text-align: center;
  }
  .box {
    max-width: 800px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  }
  form {
    padding: 0.5rem;
  }
  .btn{
    background-color: #A683E3;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 50%;
    padding: 7px 13px;
  }
  .deleteBtn{
    background-color: #A683E3;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 50%;
    padding: 7px 13px;
  }
  table{
    width: 100%;
    padding: 0.5rem;
  }
  table td{
    font-size: 18px;
    font-weight: 600;
    padding: 0.5rem;
  }
  label{
    font-size: 18px;
    font-weight: 600;
    padding: 0.5rem;
  }
  input,
  select,
  button{
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 0.5rem;
  }
  input:hover,
  select:hover{
    background-color: #E4E9FD;
  }
  